/* giving front page more attractive */
header {
    text-align: center;
    width: 100%;
    height: 100px;
    color: #EEEEEE;
    background-color: #356373;
}
.front{
    text-align: center;
    margin-top: 10em;}

 /* footer hieght*/

footer {
    height: 150px;
}

/* social media icons are centered*/

.social-media {
    text-align: center;

}
/*they are put together in a line*/

.social-media>li {
    display: inline;
}
/*giving them padding and size*/

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    margin-top: 20%;
}

.social i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    margin-top: 0%
}

footer {
    height: 100px
}

.social {
    text-align: center;

}

.social>li {
    display: inline;
}
/*start button in 1st page*/
.start{
    color: white;
    background-color: #ff0000;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}
.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: #3a3a3a;
    color: white;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
#c {
    color: white;
    background-color: #ff0000;
}
#equal {
    color: white;
    background-color: #0099ff;
}
.button:hover {
    background-color: #3a3a3a;
    color: white;
}
/*multipilcation buttons*/
#bts {
    background-color: rgb(92, 211, 92);
}
/*modal style*/
#btn{
  text-align: center;
  
}
#myBtn{
    color: white;
    background-color: #ff0000;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}