/* giving front page more attractive */

* {
    margin: 0;
    padding: 0;
    border: none;
}
header {
    text-align: center;
    width: 100%;
    height: 100px;
    color: #EEEEEE;
    background-color: #356373;
}
.front{
    text-align: center;
    margin-top: 10em;}

 /* footer hieght*/

footer {
    height: 150px;
}

/* social media icons are centered*/

.social-media {
    text-align: center;

}
/*they are put together in a line*/

.social-media>li {
    display: inline;
}
/*giving them padding and size*/

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    margin-top: 20%;
}

.social i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    margin-top: 0%
}

footer {
    height: 100px
}

.social {
    text-align: center;

}

.social>li {
    display: inline;
}
#menu {
    font-size: 150%;
    letter-spacing: 2px;
}
#menu li {
    text-align: center;
    list-style-type: none;
    margin-right: 30px;

}
#menu a:hover {
    background-color: rgb(72, 146, 211);

}

#menu a {
    text-decoration:
        none;
    color: rgb(4, 49, 66)
}
/*start button in 1st page*/
.start{
    color: white;
    background-color: #002553;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}
.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: #3a3a3a;
    color: white;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
#c {
    color: white;
    background-color: #ff0000;
}
#equal {
    color: white;
    background-color: #0099ff;
}
.button:hover{
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}
/*multipilcation buttons*/
#bts {
    background-color: rgb(92, 211, 92);
}
/*modal style*/
#btn{
  text-align: center;
  
}
/*button for modal*/
#myBtn{
    color: white;
    background-color: #ff0000;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 25px;
    margin-left: 1em;
    cursor: pointer;
}

/* Modal Content */
.modal-content {
    background-color: #d1caca;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 30%;
    text-align: center;
   
  }
  
  /* The Close Button */
  .close {
    color: #f70707;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(79, 76, 76); /* Fallback color */
    background-color: rgba(82, 79, 79, 0.4); /* Black w/ opacity */
  }
  /* Max width 350px wide and below */
  @media screen and (min-width: 350px) {
 
  

.modal-content{
    font-size: px;
        width: 250px;

}

  }

  /* Max width 420px wide and below */
@media screen and (max-width: 420px) {
    /* Heading */
     h1 {
         font-size: 1.8rem;
    }
    .modal-content{
        font-size: 0.5rem;
        width: 100px;
    }
  

}
@media screen and(max-width: 650px) {
    
    .modal-content{
        font-size: 20px;
        width: 100px;
        height: 200px;
    }}
    @media screen and (max-width: 850px) {

        .modal-content{
            font-size: 15px;
            width: 200px;
            height: 250px;
        }
    }
        
    

    

