
.front{
    text-align: center;
    margin-top: 10em;}

footer {
    height: 150px;
}

.social-media {
    text-align: center;

}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    margin-top: 20%;
}
.social i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    margin-top: 0%
}
footer {
    height: 100px
}

.social {
    text-align: center;

}

.social>li {
    display: inline;
}
.start{
    color: white;
    background-color: #ff0000;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}
.container{
    max-width: 350px;
    margin: 15vh auto 0 auto;
    box-shadow: 0px 0px 35px 15px rgb(176, 173, 173);
}
#display {
    text-align: right;
    height: 75px;
    line-height: 70px;
    padding: 17px 9px;
    font-size: 25px;
}
.buttons {
    display: grid;
    border-bottom: 1px solid rgb(152, 150, 150);
    border-left: 1px solid rgb(152, 150, 150);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div{
    border-top: 1px solid rgb(152, 150, 150);
    border-right: 1px solid rgb(152, 150, 150);
}
.buttons {
    border: 0.6px solid rgb(152, 150, 150);
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}